body {
  background-color: #ccc;
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  padding-top: 5%;
  position: relative;
  text-align: center;
}

.page__logo {
  padding-top: 10px;
}

.page__search {
  padding-top: 10px;
}

.page__search > input {
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  padding: 5px 15px;
  width: 486px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  border-right: 1px solid;
  border-color: #ccc;
  box-sizing: content-box;
  position: relative;
  height: 40px;
  font-size: 18px;
}

.page__error {
  position: absolute;
  padding: 5px;
  color: #fff;
  background-color: #f44336;
}

.pokemons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemons__item {
  display: inline-flex;
  margin: 10px;
}

.pokemon {
  position: relative;
  z-index: 20000;
  overflow: hidden;
  background-color: #fcfcfc;
  cursor: pointer;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  cursor: pointer;
}

.pokemon:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.pokemon__sprite {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: none;
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pokemon__sprite:focus {
  outline: 0;
}

.pokemon,
.pokemon__sprite {
  width: 140px;
  height: 140px;
}

.pokemon__name {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 20;
  margin: 0;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  pointer-events: none;
  text-transform: capitalize;
}

@media (min-width: 992px) {
  .pokemon,
  .pokemon__sprite {
    width: 180px;
    height: 220px;
  }
}
