body {
  background-color: #ccc;
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  padding-top: 5%;
  position: relative;
  text-align: center;
}

.page__logo {
  background-image: url('https://res.cloudinary.com/webdevacademy/image/upload/v1568848672/pokedex/pokedex-md.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 103px;
  margin-bottom: 1rem;
}

.page__logo > h1 {
  display: none;
}

.page__search {
  margin-bottom: 1rem;
}

.page__search > input {
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  padding: 5px 15px;
  width: 486px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  border-right: 1px solid;
  border-color: #ccc;
  box-sizing: content-box;
  position: relative;
  height: 40px;
  font-size: 18px;
}

.page__error {
  position: absolute;
  padding: 5px;
  color: #fff;
  background-color: #f44336;
}

.pokemons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemons__item {
  display: inline-flex;
  margin: 10px;
}

.pokemon {
  position: relative;
  overflow: hidden;
  background-color: #fcfcfc;
  cursor: pointer;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  cursor: pointer;
}

.pokemon:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.pokemon__sprite {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pokemon__sprite:focus {
  outline: 0;
}

.pokemon,
.pokemon__sprite {
  width: 140px;
  height: 140px;
}

.pokemon > .pokemon__name {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  margin: 0;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  pointer-events: none;
  text-transform: capitalize;
}

.pokemon__details {
  margin: 2rem;
}

.pokemon__details > .pokemon__image {
  background: #eee;
}

.pokemon__details .pokemon__name {
  text-align: left;
  text-transform: capitalize;
}

.pokemon__details .pokemon__name > span {
  float: right;
}

/**
 * Pokemon Info
 */
.pokemon__details .pokemon__info dl {
  border: 1px solid #bdc8ca;
  background-color: #eee;
}

.pokemon__details .pokemon__info dt,
.pokemon__details .pokemon__info dd {
  box-sizing: border-box;
  padding: 10px;
}
.pokemon__details .pokemon__info dd ~ dt,
.pokemon__details .pokemon__info dd ~ dd {
  border-top: 1px solid #bdc8ca;
}

.pokemon__details .pokemon__info dt {
  float: left;
  width: 35%;
  padding-bottom: 0;
}

.pokemon__details .pokemon__info dd {
  margin-left: 35%;
  border-left: 1px dotted #bdc8ca;
  background-color: #fff;
}

@media (min-width: 992px) {
  .pokemon,
  .pokemon__sprite {
    width: 180px;
    height: 220px;
  }
}

/**
 * Pokemon Details Modal
 */

.modal {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  left: 0;
  max-width: 600px;
  margin: 3rem auto;
  outline: none;
  position: absolute;
  right: 0;
}

.overlay {
  background-color: rgba(1, 1, 1, 0.75);
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  position: fixed;
  right: 0;
  top: 0;
}

.overlay::-webkit-scrollbar {
  display: none;
}
